[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GerminaR"]
	path = GerminaR
	url = https://github.com/flavjack/germinar
[submodule "huito"]
	path = huito
	url = https://github.com/flavjack/huito
[submodule "inti"]
	path = inti
	url = https://github.com/flavjack/inti
